<!DOCTYPE html>
<html lang="<%= (I18n.locale || I18n.default_locale) %>">
<head>
  <meta charset="utf-8">
  <title>Beautiful Scaffold</title>

  <meta name="description" content="Beautiful Scaffold">
  <meta name="author" content="You or me Sylvain Claudel (http://blog.escarworld.com)">

  <%= stylesheet_link_tag "application-bs" %>
  <%= javascript_include_tag "application-bs" %>

  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body class="<%= controller_name %> <%= action_name %>">

<%= render 'layouts/navigation' %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <ul class="nav nav-list well">
        <li class="nav-header">
          Menu
        </li>
        <%= render :partial => "layouts/beautiful_menu" %>
      </ul>
    </div>
    <div class="span10">
      <% if not flash[:notice].blank? then %>
          <div class="alert alert-info">
            <a class="close" data-dismiss="alert" href="#">×</a>
            <h4 class="alert-heading">Info : </h4>
            <%= flash[:notice] %>
          </div>
      <% end %>
      <% if not flash[:error].blank? then %>
          <div class="alert alert-error">
            <a class="close" data-dismiss="alert" href="#">×</a>
            <h4 class="alert-heading">Error : </h4>
            <%= flash[:error] %>
          </div>
      <% end %>
      <!--<div style="background:none repeat scroll 0% 0% rgb(11, 42, 73);padding: 10px;color: white;">-->
        <div>
          <%= yield %>
      </div>
    </div>
  </div>
</div>

<div class="loader" style="display:none">
  <div class="circle"></div>
  <div class="circle1"></div>
</div>
<%= render 'shared/footer' %>
<!-- Beautiful_scaffold - Modal - Do not remove -->

<script type="text/javascript">
    <% if not @opened_modal.blank? then %>
    $('<%= @opened_modal %>').modal('show');
    <% end %>
</script>

</body>
</html>
