<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Bootstrap App" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Bootstrap App" %>">
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
    <%= yield(:head) %>
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">


  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= render 'layouts/navigation' %>
      </div>
    </div>
  </div>




              <%= yield %>

  </body>
</html>
